.title{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Galdeano';
    margin-top: 5rem;
}

.hero{
    height: 25rem;
    width: 55rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    top: 3rem;
}

.ro {
    object-fit: cover;
    width: 27rem;
    height: 20rem;
    margin-top: 15rem;
    margin-left: 7rem;
}

.title1{
    font-size: 2.2rem;
    font-family: 'Galdeano';
    top: -11.5rem;
    left: 35.5rem;
    position: relative;
}

.text{
    background-color: #d9d9d9;
    width: 45rem;
    height: 12rem;
    margin-left: 22rem;
    margin-top: -17rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    top: 7rem;
    left: 3rem;
    position: relative;
}

.data {
    margin-top: 20rem;
    margin-left: 5rem;
    font-size: 1.5rem;
}

.eh {
    width: 52rem;
    margin-left: 13rem;
    margin-top: 2rem;
}

.a {
    position: absolute;
    margin-top: 70rem;
}

.rectangle{
    position: absolute;
    width: 17rem;
    height: 7rem;
    left: 10rem;
    top: 59rem;
    background: #333446;
    border-radius: 5px;
}

.ft{
    border-radius: 100%;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    width: 5rem;
    height: 5rem;
}

.isi{
    position: absolute;
    left: 8rem;
    top: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color:white
}

.titlu {
    font-size: 2rem;
    font-family: 'Galdeano';
    margin-top: 80rem;
    margin-left: 26rem;
}

.bla {
    display: flex;
    flex-wrap: wrap;
    gap: 11rem;
    font-size: 1.5rem;
    font-family: 'Galdeano';
    margin-left: 10rem;
    margin-top: 7rem;
}

.rectanglee{
    position: absolute;
    width: 20rem;
    height: 14rem;
    left: 8rem;
    top: 81rem;
    background: #D9D9D9;
    border-radius: 10px;
    /* box-hover:5px 5px; */
}

.ftt{
    object-fit: cover;
    bottom: 2.5rem;
    position: absolute;
    left: 2.8rem;
    width: 5.5rem;
    height: 3rem;
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 2%;
}

.jdl{
    position: absolute;
    left: 1.5rem;
    top: 5.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    color:black
}

.isii{
    position: absolute;
    left: 1.5rem;
    top: 7.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color:black;
}

.m {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    margin-top: 110rem;
    margin-left: 5rem;
}

.is {
    background-color: #333446;
    color: white;
    font-family: 'Galdeano';
    font-size: 1.6rem;
    width: 29rem;
    height: 14rem;
    margin-top: -6rem;
    margin-left: 8rem;
    padding-top: 7rem;
    padding-left: 3rem;
}

.wa {
    object-fit: cover;
    width: 14rem;
    height: 13rem;
    margin-top: 105rem;
    margin-left: 60rem;
}

.iss {
    background-color: #D9D9D9;
    color: BLACK;
    font-family: 'Galdeano';
    font-size: 1.6rem;
    width: 29rem;
    height: 16rem;
    margin-top: -6rem;
    margin-left: 40rem;
    padding-top: 5rem;
    padding-left: 3rem;
}

/* .y{
    background-color: #7F8CAA;
    position: absolute;
    width: 35rem;
    height: 20rem;
    left: 4rem;
    top: 109rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    border-radius: 1%;
    color:white;
    text-align: center;
    display: flex;
    align-items: left;
   
} */
.y {
  background-color: #7F8CAA;
  width: 33rem;
  height: 20rem;
  left: 4rem;
  top: 109rem;
  position: absolute;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  color: white;
  border-radius: 1%;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertikal tengah */
  align-items: flex-start; /* kiri, ganti ke center kalau mau tengah */
  padding: 2rem;
  gap: 1rem;
}

.rect{
    background-color: #D9D9D9;
    position: absolute;
    width: 25rem;
    height: 5.5rem;
    left: 42rem;
    top: 109rem;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0.5rem;
    color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem; /* kasih jarak antar elemen */
}

.recta {
    background-color: #333446;
    position: absolute;
    width: 25rem;
    height: 5.5rem;
    left: 25rem;
    top: 141rem;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0.5rem;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem; /* kasih jarak antar elemen */
}

/* button{
    background-color: #7F8CAA;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 2rem;
    position: relative;
} */
 .button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333446;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: #333446;
}

.textu {
    border-radius: 1rem;
    background-color: #D9D9D9;
    position: absolute;
    margin-top: 2rem;
    margin-left: 35rem;
    width: 35rem;
    height: 16rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3rem;
    padding-top: 2.5rem;
}

.bw{
    position: absolute;
    background-color: #333446;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 2.5rem;
    width: 80rem;
    top: 260rem;
    left: -0.5rem;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
